* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: #424242;
    font-family: Khula, sans-serif;
    font-weight: 300;
    color: white;
    line-height: 1em;
    margin: 0;
}

.body {
    padding: 0 0.5em;
}

header, footer {
    text-align: center;
}

header {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #424242;
    padding: 0.1em 0 0.25em 0;
}

nav {
    margin-bottom: 0.5em;
}

a {
    color: #eee6dc;
}

a.odd-link {
    color: #bfb9dc;
}

a:hover {
    color: #bd4f37;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
    margin: 0.2em;
}

.rounded-corners {
    border: 3px solid #bfb9dc;
    height: 30em;
    border-radius: 15px;
    overflow: hidden;
}