<footer>
    <p>
        Developed by <a target="_blank" href="https://paul-florentin-charles.github.io/">Paul Charles</a>.
    </p>
    <p>
        <a href="/"><img class="logo" height="28px" src="../../static/img/home.svg" alt="Home"></a>
        <a target="_blank" href="https://github.com/paul-florentin-charles/bcn-rainfall-models"><img class="logo"
                                                                                                     height="28px"
                                                                                                     src="../../static/img/github.svg"
                                                                                                     alt="GitHub"></a>
    </p>
</footer>