{% extends "layout.html" %}

{% block body %}

<div class="pure-g">
    <div class="pure-u-1 flex-center">
        <div class="plotly-graph" id="chart_rainfall_average"></div>
    </div>
</div>

<div class="pure-g">
    <div class="pure-u-1 flex-center">
        <div class="plotly-graph" id="chart_rainfall_average_2"></div>
    </div>
</div>

{% endblock %}

{% block scripts %}

<script type='text/javascript'>
    const config = {
        responsive: true,
        scrollZoom: true,
    };

    ['load', 'resize'].forEach(event => window.addEventListener(event, function() {
        Plotly.newPlot('chart_rainfall_average', {{ plotlyRainfallAverageJSON|safe }}, {}, config);
        Plotly.newPlot('chart_rainfall_average_2', {{ plotlyRainfallAverageJSON2|safe }}, {}, config);
    }))
</script>

{% endblock %}