* {
  box-sizing: border-box;
}

body {
  background-color: #525252;
  font: 300 16px Khula, sans-serif;
  color: white;
  line-height: 1em;
  margin: 0;
}

.body {
  padding: 0 0.7em;
}

.header, footer {
  text-align: center;
}

.header {
  position: sticky;
  top: 0.4em;
  z-index: 1;
  background-color: #323232;
  margin: 1em;
  padding-bottom: 0.25em;
  border-radius: 2em;
  opacity: 0.85;
}

nav {
  margin-bottom: 0.5em;
}

a {
  color: #eee6dc;
  text-decoration: none;
}

a:hover {
  color: #cb9f57;
  text-decoration: underline;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.plotly-graph {
  border: 2px solid rgba(123, 104, 75, 0.85);
  height: 30em;
  width: 100% !important;
  border-radius: 1em;
  margin: 0.4em;
  overflow: hidden;
}

.plotly-graph:hover {
    box-shadow: 0 0 0.5em #cb9f57;
}

img.logo {
  padding: 0 0.2em;
  filter: brightness(0) saturate(100%) invert(99%) sepia(33%) saturate(2112%) hue-rotate(304deg) brightness(119%) contrast(81%);
}

img.logo:hover {
  filter: brightness(0) saturate(100%) invert(49%) sepia(47%) saturate(451%) hue-rotate(353deg) brightness(96%) contrast(90%);
}