:root {
    --background-color: #3e3a36;
    --header-background-color: #201c17;
    --link-color: #dac8b5;
    --link-hover-color: #cb9f57;
    --graph-border-color: rgba(85, 78, 71, 0.65);
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    font: 300 16px Khula, sans-serif;
    color: white;
    line-height: 0.8em;
    margin: 0;
}

.body {
    padding: 0 0.8em;
}

.header, .footer {
    text-align: center;
    top: 0.4em;
    z-index: 1;
    background-color: var(--header-background-color);
    margin: 0.8em;
    padding: 0.1em 0 0.4em 0;
    border-radius: 2em;
    opacity: 0.8;
}

.header {
    position: sticky;
}

.menu-father {
    color: var(--link-color);
}

.menu-father:hover {
    text-decoration: none;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    color: var(--link-hover-color);
    text-decoration: underline;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.plotly-graph {
    border: 1px solid var(--graph-border-color);
    height: 30em;
    width: 100% !important;
    border-radius: 1em;
    margin: 0.3em;
    overflow: hidden;
}

.plotly-graph:hover {
    transition: box-shadow 300ms ease-in-out;
    box-shadow: 0 0 0.5em var(--link-hover-color);
}

img.logo {
    height: 1.6em;
    margin: 0.1em 0.2em 0.3em 0.2em;
    filter: brightness(0) saturate(100%) invert(99%) sepia(33%) saturate(2112%) hue-rotate(304deg) brightness(119%) contrast(81%);
}

img.logo:hover {
    filter: brightness(0) saturate(100%) invert(49%) sepia(47%) saturate(451%) hue-rotate(353deg) brightness(96%) contrast(90%);
}

@media screen and (max-width: 767px) {
    body {
        font-size: 14px;
    }
}
